
.barra{
	margin-bottom:15px;
	padding:30px;
}

.barra ul{
	border-bottom:1px solid #dadada;
	list-style:none;
	margin-bottom: 20px;
}

.barra ul li a{
	text-decoration:none;
	display: block;
	padding: 18px 5px;
	transition: 0.5s;
	cursor: pointer;
}

.barra ul li:hover ion-icon{
	color: red;
}
.barra ul li ion-icon{
	margin-right: 20px;
	transition: all 0.5s;
}


.barra ul li a:hover{
	background-color: black;
	color: white;
}

